extends layout

block content
	main
		h1= category.name
		if items.length
			p There are still items which belong to this category. You must change the category of the following items or delete them before this category can be deleted:
			each item of items
				div.item
					h2
						a(href=item.url) #{item.name}
					p.m16= item.description
					img.thumbnail(src=item.thumbnail, alt='item.name')

		if !items.length
			form(action='' method='POST')
				p.m32 Are you sure that you want to delete this category?
				button.button-link.delete Delete
